.Nav__navbar {
  /* alter self */
  position: fixed;
  top: 0;
  height: var(--navbar-height);
  width: 100vw;
  background-color: var(--base-color);
  z-index: 30;

  /* alter children */
  display: flex;
  align-items: center;
}
.Nav__site-logo {
  font-weight: bold;
  color: white;
  font-style: italic;
  text-decoration: underline;
}

/* BEGIN: Hamburger btn */
.Nav__toggle-btn {
  position: relative;
  height: 28px;
  width: 40px;
  margin: 0 30px;
  z-index: 300;
  background: rgba(5, 100, 160, 0);

  display: grid;
  align-items: center;
  /* override reactstrap */
  outline: none !important;
  border: none;
}

.Nav__toggle-btn:hover {
  background: var(--secondary-color);
  border-radius: 5px;
}

.Nav__toggle-btn::after,
.Nav__toggle-btn::before,
.Nav__toggle-btn-bar {
  content: "";
  position: relative;
  left: 0;
  height: 5px;
  width: 100%;
  background: rgba(0, 0, 0, 0.74);
}
/* AFTER: Hamburger btn */

.Nav__slide-in {
  position: fixed;
  margin-top: var(--navbar-height);
  width: var(--slide-in-width);
  height: 100vh;
  background: rgba(128, 128, 128, 0.804);
  text-align: left;
}

.Nav__slide-in-ul {
  position: relative;
  /* li dots offset */
  left: -10px;
  list-style: none;
  text-align: left;
  color: rgba(0, 0, 0, 0.6);
}

.Nav__slide-in-ul > li {
  cursor: pointer;
  margin-top: 20px;
  font-weight: bold;
  width: max-content;
}

.Nav__slide-in-ul > li:hover {
  background: rgba(53, 52, 52, 0.24);
  color: rgba(255, 255, 255, 0.678);
}

.Nav__current-view {
  color: black;
}
