.Nav__navbar {
  /* alter self */
  position: fixed;
  top: 0;
  height: var(--navbar-height);
  width: 100vw;
  background-color: var(--base-color);
  z-index: 30;

  /* alter children */
  display: flex;
  align-items: center;
}
.Nav__site-logo {
  font-weight: bold;
  color: white;
  font-style: italic;
  text-decoration: underline;
}

.Nav__toggle-btn {
  height: 30px;
  width: 40px;
  background: pink;
  margin: 0 30px;
  z-index: 300;
}

.Nav__slide-in {
  position: fixed;
  margin-top: var(--navbar-height);
  width: var(--slide-in-width);
  height: 100vh;
  background: rgba(128, 128, 128, 0.804);
  text-align: left;
}

.Nav__slide-in-ul {
  position: relative;
  /* li dots offset */
  left: -20px;
  list-style: none;
  text-align: left;
}

.Nav__slide-in-ul > li {
  cursor: pointer;
  margin: 20px 0;
  font-weight: bold;
}
