.App {
  position: relative;
  text-align: center;
  height: 100vh;
  width: 100vw;

  display: flex;
  overflow: hidden;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App__error-dismiss-area {
  position: absolute;
  top: var(--navbar-height);
  height: 100vh;
  width: 100vw;
  background: rgba(60, 58, 58, 0.468);
  z-index: 39;
}
