body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Constants */
:root {
  /* Color scheme */
  --base-color: #3d8aa8;

  /* Dimensions */
  --navbar-height: 8vh;
  --slide-in-width: 17vw;
}

/* offset current view with nav bar height and slide in */
.view-offset {
  margin-top: var(--navbar-height);

  /* view wrapper */
  height: 100vh;
  width: 100vw;
  background: purple;
}

.small-text {
  font-size: 18px;
}

.medium-text {
  font-size: 24px;
}

.large-text {
  font-size: 30px;
}

.slide-in-open {
  padding-left: var(--slide-in-width);
}
