body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

  /* prevent drag highlight */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/** Constants **/
:root {
  --base-color: #3d8aa8;
  --secondary-color: rgb(201, 193, 193);
  --within-availability-color: rgb(162, 242, 135);
  --navbar-height: 8vh;
  --slide-in-width: 240px;
  --warning-bg: rgba(245, 119, 119, 0.824);
  /* AvailabilityTable.css */
  --option-offset: 18px;
}

/** Offsets **/
.view-offset {
  margin-top: var(--navbar-height);

  /* view wrapper */
  height: 100vh;
  width: 100vw;
}
.nav-toggled {
  padding-left: var(--slide-in-width);
}

/** Font **/
.small-text {
  font-size: 18px;
}

.medium-text {
  font-size: 24px;
}

.large-text {
  font-size: 30px;
}

/** Misc **/
.pointer_mouse {
  cursor: pointer;
}

.span-emphasis {
  font-weight: 700;
  font-style: italic;
}

/** Animations **/
.opacity-wave {
  animation: opacityWave 0.7s ease-in;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}

@keyframes opacityWave {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes borderWave {
  0% {
    box-shadow: 0 0 0 5px rgb(237, 237, 5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(237, 237, 5, 0.8);
  }
}
