.Controllers__container {
  position: relative;
  height: max-content;
  padding: 20px;

  display: grid;
  align-items: center;
}

/* Week nav buttons */
.Controllers__week-nav-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: max-content;
  margin: 0 auto;
  align-items: center;
}

.Controllers__week-span {
  grid-area: 1 / 2;
  font-weight: bold;
  text-decoration: underline;
}

button.Controllers__week-nav-btn {
  background: rgba(0, 0, 0, 0);
  outline: none !important;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.685);
  font-size: 50px;

  transition: transform 0.4s ease-out;
}

button.Controllers__week-nav-btn:hover {
  color: var(--base-color);
}

button.Controllers__week-nav-btn.⇨:active {
  transform: translateX(50%);
}

button.Controllers__week-nav-btn.⇦:active {
  transform: translateX(-50%);
}

/* Dropdown button */
.Controllers__button-dropdown {
  position: absolute;
  left: 40px;
}

.Controllers__button-dropdown > span {
  font-weight: 600;
  margin-right: 3px;
}
