.Controllers__container {
  position: relative;
  height: max-content;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

/* Week nav buttons */
.Controllers__week-nav-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: max-content;
  align-items: center;
}

.Controllers__week-span {
  /* center "Week X" between arrows */
  grid-area: 1 / 2;
  font-weight: bold;
  text-decoration: underline;
}

button.Controllers__week-nav-btn {
  background: rgba(0, 0, 0, 0);
  outline: none !important;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.685);
  font-size: 50px;

  transition: transform 0.4s ease-out;
}

button.Controllers__week-nav-btn:hover {
  color: var(--base-color);
}

button.Controllers__week-nav-btn.⇨:active,
button.Controllers__week-nav-btn.⇦:active {
  position: relative;
  transform: translateX(50%);
}

.Controllers__button-dropdown > span {
  font-weight: 600;
  margin-right: 3px;
}

/* Checkboxes */
.Controllers__filter-checkboxes-container {
  width: max-content;

  display: grid;
  grid-template-columns: 20px auto;
  text-align: left;
  align-items: baseline;
}
