.ErrorPrompt__container {
  position: fixed;
  top: 40vh;
  left: 50vw;
  transform: translateX(-50%);
  height: max-content;
  width: 300px;
  background: lightblue;
  border-radius: 5px;
  box-shadow: 0 0 3px black;

  z-index: 40;
}
