.EntryForm__container {
  position: relative;
  height: 100%;
  width: 100%;
}

.EntryForm__option {
}

.EntryForm__select {
  width: 100%;
}

.EntryForm__close-btn {
  position: absolute;
  right: 0;
  margin-right: 8px;
  transform: scale(1.2);
  /* override reactstrap */
  outline: none !important;
  z-index: 20;
}
