.AppView__container {
  position: relative;
}

.AppView__week-span {
  position: absolute;
  top: var(--navbar-height);
  left: 50%;
  transform: translateX(50%);
  width: max-content;
  font-weight: bold;
  text-decoration: underline;
  background: blue;
}
