.DriverInfo__container {
  position: relative;
  height: 70vh;
  width: 600px;
  border-radius: 5px;
  box-shadow: 0 0 5px black;
  margin: 0 auto;
  padding: 20px;
  background: var(--secondary-color);

  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: left;

  overflow: hidden;
  overflow-y: scroll;
}

.DriverInfo__container::-webkit-scrollbar {
  display: none;
}

.DriverInfo__color-block {
  box-shadow: inset 0 0 5px black;
  border-radius: 5px;
  height: 30px;
  width: 30px;
}

/* color block when in edit mode */
input.DriverInfo__color-block {
  height: 30px;
  width: 30px;
  transform: scale(1.3);
  animation: borderWave 0.5s ease-in;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}

.DriverInfo__label {
  margin-right: 10px;
  font-weight: 600;
}

/* Driver info controllers */
.DriverInfo__btns-container {
  position: absolute;
  top: 5px;
  right: 5px;
}

.DriverInfo__edit-btn.btn {
  box-shadow: 0 0 3px black;
  margin: 5px;
}
