.DriverInfo__container {
  position: relative;
  height: 200px;
  width: 300px;
  border-radius: 5px;
  box-shadow: 0 0 5px black;
  margin: 0 auto;
  padding: 20px;
  background: var(--secondary-color);

  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: left;
}

.DriverInfo__color-block {
  box-shadow: inset 0 0 5px black;
  border-radius: 5px;
  height: 30px;
  width: 30px;
}

.DriverInfo__label {
  margin-right: 10px;
  font-weight: 600;
}

/* Driver info controllers */
.DriverInfo__btns-container {
  position: absolute;
  top: 5px;
  right: 5px;
  width: min-content;
}

.DriverInfo__edit-btn.btn {
  box-shadow: 0 0 3px black;
}
