.AvailabilityTable__container {
  position: relative;
  grid-column: 1 / span 2;
  justify-self: center;
  width: 100%;
  height: 100%;

  display: grid;
  justify-content: center;
  background: red;
  margin-top: 10px;

  overflow: hidden;
  overflow-y: scroll;
}

/* remove scrollbar */
.AvailabilityTable__container::-webkit-scrollbar {
  display: none;
}

/* I need sleep */
.AvailabilityTable__table > * > * > * {
  padding: 10px 20px;
}

.AvailabilityTable__column-headers {
  background: var(--base-color);
}

.positive_tr {
  background: white;
}

.negative_tr {
  background: rgb(150, 150, 160);
}

.AvailabilityTable__options-container {
  /* override reactstrap */
  width: 130px !important;
}

.AvailabilityTable__option {
  margin-left: var(--option-offset);
}

.AvailabilityTable__selected {
  position: relative;
  color: black;
}

.AvailabilityTable__selected::after {
  content: "☑️";
  position: absolute;
  top: 0;
  left: calc(var(--option-offset) * -1);
  height: 100%;
  width: calc(100% + var(--option-offset));
  background: rgba(0, 102, 255, 0.26);
}
