.EditAvailability__container {
  position: relative;
}

.EditAvailability__container > h1 {
  position: sticky;
  top: -0.5px;
  display: grid;
  width: max-content;
  margin: 0 auto;
  padding: 0 5px 5px 5px;
  background: var(--secondary-color);
  z-index: 32;
  box-shadow: 0 0 5px black;
  border-radius: 0 0 5px 5px;
}

.EditAvailability__form-group {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}

.EditAvailability__form-group > Input {
  /* center checkboxes */
  position: relative;
  left: 100%;
  transform: translateX(-50%);
}

.EditAvailability__select-grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  box-shadow: 0 0 2px 0.5px black;
  padding-top: 20px;
}
