.show-btn-on-hover.btn {
  font-size: 28px;
  margin: 55px 0;
  transition: 0.4s;
}

.show-btn-on-hover.btn:hover {
  background: rgba(0, 0, 255, 0.619);
}

.SlotControllers__btn-container {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 10px;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s ease-out;
}

.SlotControllers__btn-container.isVisible {
  pointer-events: all;
  opacity: 1;
}

.SlotControllers__btn-container > .btn {
  box-shadow: 0 0 2px black;
}

.SlotControllers__warning-prompt {
  display: block;
  width: 100%;
  background: rgba(220, 155, 155, 0.537);
  font-weight: 600;
}
